# Dependencias
node_modules/

# Variables de entorno SECRETAS (nunca subir esto)
.env
.env.local
.env.production

# Carpeta compilada (Render la genera solo)
dist/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db